
<!-- <div class="searchbox"> -->
  <!-- <label for="Search"></label> -->
  <!-- <input name="search" placeholder="Search List" type="text" [(ngModel)]="query">  -->
  <!-- searchText -->
    <!-- <button (click)="searchPosts()">Submit</button> -->
<!-- </div> -->
<div class="format">
  <input type="text"
          placeholder="Search List"
          class="filter-input"
          [(ngModel)]="searchText">
</div>
<div class="jumbotron container-fluid">
  <h2>List of All TV Shows and Movies</h2>
</div>
<div class="carousel slide" id="featured">
  <ol class="carousel-indicators">
  <li data-target="#featured" data-slide-to="1" class="active"></li>
  <li data-target="#featured" data-slide-to="2"></li>
  <li data-target="#featured" data-slide-to="3"></li>
  <li data-target="#featured" data-slide-to="4"></li>
  <li data-target="#featured" data-slide-to="5"></li>
  <li data-target="#featured" data-slide-to="6"></li>
</ol>
<div class="carousel-inner" *ngFor="let show of shows" >
  <!-- Images for the carousel -->
  <div class="item">
    <img class="format" src="{{show.thumbnail}}" alt="Shanghai Night View of SkyLine on the Bund">
    <div class="carousel-caption">
      <p>{{show.title}}</p>
    </div>
  </div>
</div>  <!-- carousel-inner-->
</div>


  <ul>
    <li *ngFor="let show of shows | searchBy: ['title', 'description']: [searchText]">
    <!-- | searchBy: ['data.title']: [searchText]"> -->
      <div class="row container">
        <div class="col-md-4">
          <a href="{{show.url}}" target="_blank">
            <!-- {{show.url}}, target="_blank" -->
            {{show.title}}
            <img src="{{show.thumbnail}}" alt="">
            </a>
          </div>
          <div class="col-md-8">
            <p class="hidden"></p>
            <p class="hidden"></p>
            <span><strong> Description:</strong> {{show.description}}</span>
            <br>
            <span><strong>Number of Episodes:</strong> {{show.length}}</span>
            <br>
            <span><strong>Release Date:</strong> {{show.releasedate}}</span>
          </div>
        </div>
    </li>
    <li *ngFor="let show of movies | searchBy: ['title','description']: [searchText]">
      <div class="row container">
        <div class="col-md-4">
          <a href="{{show.url}}" target="_blank">
            {{show.title}}
            <img src="{{show.thumbnail}}" alt=""></a>
          </div>
          <div class="col-md-8">
            <p class="hidden"></p>
            <p class="hidden"></p>
            <span><strong> Description:</strong> {{show.description}}</span>
            <br>
            <span><strong>Number of Episodes:</strong> {{show.length}}</span>
            <br>
            <span><strong>Release Date:</strong> {{show.releasedate}}</span>
          </div>
        </div>
    </li>
  </ul>
