<div class="jumbotron">
  <h1>
    Categories
  </h1>
</div>
<div class="container">
  <p>Return to homepage for more information about each!</p>
<div class="row">
  <h2>Romantic Comedy</h2>
  <ul>
    <li>Cinderella and Four Knights</li>
    <li>The Master's Sun</li>
    <li>Love O2O</li>
  </ul>
</div>
<div class="row">
  <h2>Thriller</h2>
  <ul>
    <li>Blind</li>
    <li>Gap-Dong</li>
    <li>The Master's Sun</li>
    <li>Signal</li>
  </ul>
</div>
<div class="row">
  <h3>Mystery</h3>
  <ul>
    <li>Signal</li>
  </ul>
</div>
</div>
