<div class="jumbotron">
  <h1>
    List of Shows
  </h1>
</div>

<ul>
  <li *ngFor="let show of shows">
<div class="row container">
  <div class="col-md-4">
    <a href="{{show.url}}" target="_blank">
      {{show.title}}</a>
      <img src="{{show.thumbnail}}" alt="">
    </div>
    <div class="col-md-8">
      <p class="hidden"></p>
      <p class="hidden"></p>
      <span><strong> Description:</strong> {{show.description}}</span>
      <br>
      <span><strong>Number of Episodes:</strong> {{show.length}}</span>
      <br>
      <span><strong>Release Date:</strong> {{show.releasedate}}</span>
    </div>
  </div>
</li>
</ul>
