<!--The content below is only a placeholder and can be replaced.-->
<nav role="navigation" class="navbar navbar-default">
  <div class="header container">
  <ul class="nav nav-pills navbar-right">
    <li class="active"><a data-toggle="pill" href="#home"> Home</a></li>
    <li><a data-toggle="pill" href="#movies">Movies</a></li>
    <li><a data-toggle="pill" href="#shows">Shows</a></li>
    <li><a data-toggle="pill" href="#categories">Categories</a></li>
    <li><div class="searchbox">
      <!-- <label for="Search"></label> -->
      <input name="search" placeholder="Search List" type="text" [(ngModel)]="query"> <!-- searchText -->
        <button (click)="searchPosts()">Submit</button>
    </div>
  </li>
  </ul>
  </div>
</nav> <!-- End of navbar -->

<div>
  <ul>
        <li *ngFor="let show of list">
          <div class="row container">
            <div class="col-md-4">
              <a href="{{show.url}}" target="_blank">
                {{show.title}}
                <img src="{{show.thumbnail}}" alt="">
              </a>
              </div>
              <div class="col-md-4">
                <p class="hidden"></p>
                <p class="hidden"></p>
                <span>Description: {{show.description}}</span>
                <span>Number of Episodes: {{show.length}}</span>
                <span>Release Date: {{show.releasedate | date}}</span>
              </div>
            </div>
        </li>
        <!-- <li *ngFor="let movie of movies">
          {{movie.title}}
        </li> -->
  </ul>
</div>
